---
- name: 1. Instalar K3s (Versão Estável)
  shell: curl -sfL https://get.k3s.io | sh -
  args:
    creates: /usr/local/bin/k3s
  become: yes

- name: 2. Aguardar o K3s iniciar
  wait_for:
    path: /etc/rancher/k3s/k3s.yaml
    state: present
    timeout: 30

- name: 3. Criar diretório .kube para o usuário
  file:
    path: "/home/{{ ansible_user }}/.kube"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0750'

- name: 4. Copiar config do Admin para o usuário (Permitir kubectl sem sudo)
  copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: "/home/{{ ansible_user }}/.kube/config"
    remote_src: yes
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0600'
  become: yes

- name: 5. Instalar Helm (Gerenciador de Pacotes do K8s)
  shell: |
    curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
  args:
    creates: /usr/local/bin/helm
  become: yes

- name: 6. Instalar Utilitários Úteis (Net-tools, Git)
  apt:
    name:
      - net-tools
      - git
    state: present
  become: yes
